
  .large_dot:before{
    bottom: 0;
    content: "";
    height: 150px;
    position: absolute;
    top: 100px;
    width: 2px;
  }
.v-timeline-item__dot--small {
    height: 10px;
    left: calc(50% - 12px);
    width: 10px;
}

.v-timeline-item__dot--large{
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.169);
}

.v-timeline-item {
    display: flex;
    padding-bottom: 6px;
}